VITE_PLATFORM=web
VITE_AUTH_URL=http://localhost:8000/api/auth
VITE_PAYMENT_URL=http://localhost:8001/api/payment
VITE_ADMIN_URL=http://localhost:8002/api/admin
VITE_ADMIN_API_KEY=superadmin-secret-2026
